{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-12 px-8 mx-auto lg:max-w-[1200px]">
        <h1 class="text-center pb-5">{{ admin.job }}</h1>
        <section class="p-7 rounded-[25px] border border-color-light-brown shadow-lg relative overflow-hidden">
            <button id="show-infos" class="block md:hidden absolute top-[-1px] right-[-1px] border rounded-bl-lg border-color-light-brown shadow-lg p-3 text-center bg-color-brown hover:bg-color-light-brown appearance-none focus:outline-none">
                Show info
            </button>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <div class="text-center">
                    <div class="w-2/4 m-auto">
                        <img src="{{ asset('build/images/profile-picture.jpeg') }}"
                             alt="{{ admin.fullName }}"
                             title="{{ admin.fullName }}"
                             class="rounded-full object-cover border-2 border-color-light-brown m-auto"
                        >
                    </div>
                    <div class="p-2">
                        <h3 class="mb-1 text-xl font-medium tracking-wider">{{ admin.fullName }}</h3>
                        <p>{{ admin.language }}</p>
                    </div>
                </div>
                <div class="hidden sm:flex sm:my-9 justify-center items-center content-center md:m-auto lg:block h-0 sm:h-0" id="pdf">
                    <a href="{{ asset('build/files/cv-canadien_fr.pdf') }}" class="p-3 bg-color-light-brown rounded-lg mx-2" target="_blank">
                        CV 🇫🇷
                    </a>
                    <a href="{{ asset('build/files/cv-en.pdf') }}" class="p-3 bg-color-light-brown rounded-lg mx-2" target="_blank">
                        Resume 🇬🇧
                    </a>
                </div>
                <div class="m-auto hidden md:block h-0 md:h-full" id="value">
                    <ul class="">
                        {{ include('include/_info-user.html.twig', {title: 'email', value: admin.email, fontName: 'fa-envelope'}) }}
                        {{ include('include/_info-user.html.twig', {title: 'phone', value: admin.phoneNumber, fontName: 'fa-phone'}) }}
                        {{ include('include/_info-user.html.twig', {title: 'localisation', value: admin.localisation, fontName: 'fa-location-dot'}) }}
                    </ul>
                </div>
            </div>
            <hr class="border-color-brown w-2/4 m-auto my-5">
            <div class="text-center flex justify-around md:mx-auto md:w-2/4">
                <div class="w-20">
                    <input type="button" class="cursor-pointer" id="about" value="About">
                    <div class="h-0.5 bg-color-brown" id="about-style"></div>
                </div>
                <div class="w-20">
                    <input type="button" class="cursor-pointer" id="skill" value="Skill">
                    <div class="h-0.5 bg-color-brown hidden" id="skill-style"></div>
                </div>
                <div class="w-20">
                    <input type="button" class="cursor-pointer" id="resume" value="Resume">
                    <div class="h-0.5 bg-color-brown hidden" id="resume-style"></div>
                </div>
                <div class="w-20">
                    <input type="button" class="cursor-pointer" id="contact" value="Contact">
                    <div class="h-0.5 bg-color-brown hidden" id="contact-style"></div>
                </div>
            </div>
        </section>
        <br>
        <article class="p-7 rounded-[25px] border border-color-light-brown shadow-lg">
            {{ include('home/about.html.twig') }}
            {{ include('home/skill.html.twig') }}
            {{ include('home/resume.html.twig') }}
            {{ include('home/contact.html.twig') }}
        </article>
    </div>
{% endblock %}
