{% extends 'base.html.twig' %}

{% block body %}
    {% set me = 'Lutin Mickael' %}
    {% set job = 'Web Developper' %}
    <h1 class="text-center pb-5 text-4xl">{{ job }}</h1>
    <section class="p-7 rounded-[25px] border border-color-light-brown shadow-lg">
        <div class="grid grid-rows-1 grid-flow-col gap-4">
            <div class="w-2/4 text-center">
                <div class="xs:w-full lg:w-2/4 flex-shrink-0 m-auto">
                    <img src="{{ asset('build/images/profile-picture.jpeg') }}"
                         alt="{{ me }}"
                         title="{{ me }}"
                         class="rounded-full object-cover border-2 border-color-light-brown"
                    >
                </div>
                <div class="p-2">
                    <h3 class="mb-1 text-xl font-medium tracking-wider">{{ me }}</h3>
                </div>
                <div>
                    <a href="https://github.com/dgmick" class="mx-2" target="_blank">
                        Github
                    </a>
                    <a href="https://www.instagram.com/dgwaner/" class="mx-2" target="_blank">
                        Instagram
                    </a>
                    <a href="https://www.linkedin.com/in/mickael-lutin-41357392/" class="mx-2" target="_blank">
                        Linked
                    </a>
                </div>
            </div>
            <div>
                <ul>
                    {{ include('include/_info-user.html.twig', {title: 'email', value: 'lutmickael@gmail.com'}) }}
                    {{ include('include/_info-user.html.twig', {title: 'phone', value: '0101202020'}) }}
                    {{ include('include/_info-user.html.twig', {title: 'localisation', value: 'Paris, France'}) }}
                </ul>
            </div>
            <div class="m-auto">
                <div>
                    <select id="file-fr" class="p-2 bg-color-light-brown rounded-lg mr-5">
                        <option value="">Telecharger cv</option>
                        <option value="{{ asset('build/files/cv_francais_fr.pdf') }}">Version 🇫🇷</option>
                        <option value="{{ asset('build/files/cv_canadien_fr.pdf') }}">Version 🇨🇦</option>
                    </select>
                    <select id="file-en" class="p-2 bg-color-light-brown rounded-lg mr-5">
                        <option value="">Download Resume</option>
                        <option value="{{ asset('build/files/cv_canadien_fr.pdf') }}">Resume</option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="border-color-brown w-2/4 m-auto my-5">
        <div class="text-center m-auto">
            <input type="button" class="mx-5 cursor-pointer" id="about" value="About">
            <input type="button" class="mx-5 cursor-pointer" id="skill" value="Skill">
            <input type="button" class="mx-5 cursor-pointer" id="resume" value="Resume">
            <input type="button" class="mx-5 cursor-pointer" id="contact" value="Contact">
        </div>
    </section>
    <br>
    <article class="p-7 rounded-[25px] border border-color-light-brown shadow-lg">
        <div id="about-element" class="hidden">
            <h2 class="leading-10 text-4xl">ABOUT</h2>
            <div class="w-20 h-1 bg-color-brown mt-8 mb-10"></div>
        </div>
        <div id="skill-element">
            <h2 class="leading-10 text-4xl">SKILLS</h2>
            <div class="w-20 h-1 bg-color-brown mt-8 mb-10"></div>
        </div>
        <div id="resume-element" class="hidden">
            <h2 class="leading-10 text-4xl">RESUME</h2>
            <div class="w-20 h-1 bg-color-brown mt-8 mb-10"></div>
        </div>
        <div id="contact-element" class="hidden">
            <h2 class="leading-10 text-4xl">CONTACT</h2>
            <div class="w-20 h-1 bg-color-brown mt-8 mb-10"></div>
        </div>
    </article>
{% endblock %}
