{% extends 'admin/layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.email, {'attr': {'class': 'border-b border-color-brown rounded shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none my-3'}}) }}
    {{ form_row(form.job, {'attr': {'class': 'border-b border-color-brown rounded shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none my-3'}}) }}
    {{ form_row(form.localisation, {'attr': {'class': 'border-b border-color-brown rounded shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none my-3'}}) }}
    {{ form_row(form.phoneNumber, {'attr': {'class': 'border-b border-color-brown rounded shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none my-3'}}) }}
    {{ form_row(form.language, {'attr': {'class': 'border-b border-color-brown rounded shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none my-3'}}) }}
    {{ form_row(form.aboutMe, {'attr': {'class': 'border-b border-color-brown rounded shadow appearance-none w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none my-3'}}) }}
    <a href="{{ path('app_admin') }}" class="p-2 bg-color-brown">back to list</a>
    <button class="p-2 bg-color-light-brown">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
