<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('adminStyle') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('adminEntry') }}
    {% endblock %}
</head>
<body>
<div class="mx-auto py-14 px-4 sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <nav>
        <ul>
            <li>
                <a class="active" href="{{ path('homepage') }}">HomePage</a>
            </li>
            <li>
                <a class="active" href="{{ path('app_admin') }}">About</a>
            </li>
            <li>
                <a href="{{ path('app_professional_skill_index') }}">Professional Skill</a>
            </li>
            <li>
                <a href="{{ path('app_skill_chart_index') }}">Skill Chart</a>
            </li>
            <li>
                <a href="{{ path('app_experiences_index') }}">Resume</a>
            </li>
            {% if app.user %}
                <li class="float-right">
                    <a href="{{ path('app_logout') }}" class="bg-color-brown hover:bg-color-light-brown text-white font-bold text-color-black-brown">Logout</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="mt-10">
        {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>
